@font-face
{
	font-family: android;
	src: url('../css/arkitech.ttf');
	src: local(android), url('arkitech.ttf') format('truetype');
}
*
{
	padding:0;
	margin: 0;
}
.clear
{
	clear: both;
}
body
{
	background: #fbfbfb;
}

/*%%%%%%%%%%%% Apps %%%%%%%%%%%%%*/

.app_and
{
	float:left;
	width:400px;
	line-height: 2em;
	font-family: Rosario;
	font-size: 14px;
	text-align: justify;
	height:auto;
	cursor: pointer;
	font-size: 20px;
	margin-top:40px;
	margin-left: 80px;
}
.head
{
	font-family: Ubuntu;
	font-size: 34px;
	color: #C0392B;
}
.and
{
	font-family: android;
	color: #36bf07;
	font-size: 35px;
	
}

#inner
{
	float:right;
	cursor: pointer;
	margin-top:40px;
	margin-right: 10px;
	overflow: hidden;
}

#mobiles
{
	float: right;
	margin-right: 80px;
	margin-top: 40px;
	width:280px;
	height:500px;
	cursor: pointer;
	border-radius: 30px;
	background-image:url('../images/s3.png');
	box-shadow: 0px 0px 24px black;
}

#back
{
	float: right;
	width:20px;
	height:12px;
	margin-right: 50px;
	margin-top: 12px;
	background-image: url('../images/back.png');
}


/*######################### footer ####################*/
#footer
{
	color:white;
	display: inline-block;
	background-color: #34495E;
	font-family: Rosario;
	font-size: 12pt;
	font-style: normal;
	line-height: 2em;
	padding:10px 25px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}
#footer a
{
	text-decoration: none;
	color: white;
}
#footer a:hover
{
	color:#68caf3;
}

.profile{
	font-family: 'Roboto';
	color: #313131;
	float: left;
	font-size: 20px;
    font-weight: 300;
	margin-left: 80px;
	margin-top: 120px;
	padding-top: 20px;
	width:60%;
	height:500px;
}
.profile ul li {
	list-style: inside;
	padding: 10px;
}